.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.navbar .links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.avatar {
  position: relative;
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 10%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-btn {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.dropdown-btn-div {
  background-color: #333;
  color: white;
  cursor: pointer;
}

.dropbtn  {
  cursor: pointer;
}
